
<%= form_with(model: @comment, url: [@job, @comment.build], local: true) do |form| %>
<!-- <%#= form_with(model: @comment, local: true) do |form| %> -->

  <div class="form">

    <%= form.label :comment %>
    <%= form.text_field :comment, id: :job_comment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
