<h1>Home</h1>

<h2>Welcome to MyApply</h2>
 <p>The Easy and Simple Way to Keep Track of Your Job Applications.</p>
<br>
<p>Feel Free to Explore with our Sample Account:</p>
<p>e-mail: sample@example.com</p>
<p>password: sampleaccount </p>
