<div>

  <p class="large-top">Home</p>

  <p>Welcome to My Apply
    <br>
    <br>
    The Easy and Simple Way to Keep Track of Your Job Applications.
  </p>
<br>
  <p>Feel Free to Explore with our Sample Account:
    <br>
    <br>
      <strong>e-mail:</strong> sample@example.com
  <br>
  <strong>password:</strong> sampleaccount
  </p>

</div>
