/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* ------------------------------------- */
 /* ------------------------------------- */
 /* ------------------------------------- */
 /* ------------------------------------- */
 /* ------------------------------------- */

html {
  padding: 0;
  text-align: center;
  /* background-color: rgba(89, 173, 100, 0.76); */
}

body {
  padding: 0;
  line-height: 1.2;
  text-align: center;
  /* background-color: rgba(1, 124, 158, 0.1) ; */
  background-color: #6a18ff ;

}

.email{
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: lighter;
  color: #fff;
  font-size: 100%;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;
  padding: 1%;
  border-radius: 10%;

}

.email:hover{
  color: #eee;
  font-size: 120%;
  padding: .7%;
  background-color: #6dd168;
  opacity: .2;
}

div .large-top{
  color: #eee;
  font-size: 300%;
  font-family: verdana, arial, helvetica, sans-serif;
  font-weight: lighter;
}

div {
      color: #eee;
      font-size: 150%;
      font-family: verdana, arial, helvetica, sans-serif;
      font-weight: lighter;
}

div > a{
      color: #eee;
      font-size: 100%;
      font-family: verdana, arial, helvetica, sans-serif;
      font-weight: lighter;
      text-decoration: none;
      padding: 1%;
      border-radius: 10%;
}

div > a:hover{
  color: #eee;
  font-size: 110%;
  padding: .7%;
  background-color: #6dd168;
  opacity: .2;
}

table div {
  width: auto;
}

table {
  width: 100%;
  margin-left:auto;
  margin-right:auto;
  background-color: #6a18ff ;
  font-size: 100%;
  line-height: 1.2;
  color:rgb(247, 237, 247);
  text-align: center;
  text-transform: uppercase;
  font-family: verdana, arial, helvetica, sans-serif;
}

table tr.oddrow {
  background-color: rgb(115, 103, 226);
}

table tr.evenrow {
    background-color: rgb(177, 156, 230);
}

th {
  text-align: center;
  width: auto;
}


td {
  padding: 2%;
  padding-bottom: 5%;
  text-align: center;
  font-size: 150%;
  line-height: 200%;
  word-wrap: break-word;

}

/* Button Styling */
 td > a {
   font-family: Helvetica;
   border-radius:8%;
   text-align: center;
   font-size: 90%;
   padding: 1.7% 30% 1.7% 30%;
   background-color: rgb(93, 145, 200);
   text-decoration: none;
   color: #fff;
   line-height: 1.5;
   width: 100%;
}

table:hover {
  color: #fff;
}

td:hover {
  color: #fff;
  border-top: 3em solid ;
  border-top-color: rgb(98, 170, 210);
}

td:hover a {
  background-color: rgb(98, 170, 210);
}


td a:hover {
  background-color: #6dd168;
}


 /* ------------------------------------- */
          /* Form Begin */
 /* ------------------------------------- */


input {
  border-width: 0.05rem;
  border-radius:1rem;
}



#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
  font-family: Helvetica;
}


ol, ul {
  padding: 7% 5% 5% 9%;
  font-size: 170%;
  color: #fff;
  background-color: rgb(177, 156, 230);
  text-align: center;
  font-family: verdana, arial, helvetica, sans-serif;
  word-wrap: break-word;
  text-decoration: none;
  list-style-type: none;
}

ol, ul > a {
  list-style-type: none;
  font-family: Helvetica;
  border-radius:8%;
  text-align: center;
  font-size: 90%;
  padding: 1.7% 30% 1.7% 30%;
  background-color: rgb(93, 145, 200);
  text-decoration: none;
  color: #fff;
  line-height: 1.5;
  width: 100%;
}

ol, ul > a:hover {
  font-size: 130%;
  background-color: #6dd168;

}

pre {
  background-color: #eee;
}

 /* ------------------------------------- */
          /* Form End */
 /* ------------------------------------- */


#comment_comment {
  background-color: #fff;
  border: solid;
  border-width: 1.02px;

}
